html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Dongle', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Source Code Pro', monospace; 
    background: #F0F8FF;
}

nav.cabecera{
    padding: 30px;
    margin: 0 auto;
    text-align: center;
    background: #1f1f1f;
    box-shadow: 2px 2px 2px black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin:0 30px 0 30px;
}
nav.cabecera li{
    display: inline;
    margin: 0 90px 0 50px;
    text-align: center;
    
}
nav.cabecera a{
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    font-size: 28px;
    text-decoration: none;
}
main{
    position: block;
    margin: 0 auto;
    padding:30px;
}
h2{                                                       
    text-transform: uppercase;
    margin-bottom: 35px;
    font-size: 30px;
    font-weight: bolder;
}
p{
    line-height: 2em;
    font-size: 22px; 
    text-align: justify;
}
h3{
    font-size: 19px;
    margin-top: 40px;
    font-weight: bolder;
}
section{
    padding: 0 0 100px 0;
}
.volverInicio img{
    width: 40px;
}
section.presentacion{
    background-image: url(https://images2.alphacoders.com/698/698137.jpg);
    width: 100%;
    height: 300px;
    overflow: hidden;
    border-radius: 10px;
}
div.imagen{
    width: 300px;
    height: 300px;
    overflow: hidden;
    border-radius: 50%;
    float: left;
    margin-top: 50px;
    margin-left: 50px;
    transition: 1s;
    box-shadow: 2px 2px 2px black;
}
img.imagen-principal{
    width: 100%;
    height: 120%;
}
div.imagen:hover{
    width: 330px;
    height: 330px;
    margin-top: 35px;
}
section.presentacion h1{
    color: white; 
    text-transform: uppercase;
    font-weight: bold;
    font-size: 40px; 
    text-align: right;
    margin-top: 170px;
    margin-right: 50px;
    text-shadow: -2px -2px 1px #000, 2px 2px 1px #000, -2px 2px 1px #000, 2px -2px 1px #000;
    transition: 0.5s;
}
section.presentacion h1:hover{
    color: black; 
    text-shadow: -2px -2px 1px white, 2px 2px 1px white, -2px 2px 1px white, 2px -2px 1px white;
}
section.sobre-mi{
    padding: 90px 0 100px;
}
div.paginas-externas li{
    display: inline-block;
    margin: 10px 0 0 0;
}
div.paginas-externas img{
    width: 30px;
    padding: 10px 10px 0 0;
    margin-top: 20px;
}
div.paginas-externas a{
    padding-right: 10px;
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
    transition: 0.3s;
}
div.paginas-externas a:hover{
    text-decoration: underline;
    cursor: pointer;
}
section#habilidades img{
    width: 120px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 150px;
    transition: 0.5s;
}
section#habilidades img:hover{
    transform: rotate(15deg);
}
#formulario{
    display: inline-block;
    align-items: center;
}
form{
    padding-left:300px;
    padding-right: 100px;
    margin: 40px 40px 0 0;
    float: left;
}
form label{
    padding: 10px 0;
    display: block;
    font-size: 20px;
    font-weight: bolder;
    margin: 0 0 10px 0;
}
textarea{
    font-size: 15px;
}
.input-padron{
    margin: 0 0 20px 0;
    padding: 10px 20px;
    width: 500px;
}
.enviar{
    display:block;
    width: 545px;
    padding: 15px 15px;
    font-size: 18px;
    font-weight: bold;
    color:white;
    background: black;
    border:none;
    border-radius: 10px;
    transition: 1s all;
    cursor:pointer;
}
.enviar:hover{
    box-shadow: 2px 2px 2px black;
    transform: scale(1.05);
}
.volverInicio{
    text-align: center;
    font-size: 30px;
    margin-top: 50px;
}
.imgForm{
    margin-top: 60px;
    height: 650px;
}
footer{
    color: white;
    width: auto;
    background: #1f1f1f;
    text-align: center;
    font-weight: bolder;
    padding:30px;
    font-size: 13px;
    margin-top: 40px;
}
